@model PhotoManager.Models.Home.HomeModel
@{
    if (Model.PhotoModelList.Count > 0)
    {
        var actualRow = 1;
        var rowsCount = Model.PhotoModelList.Count % 3 > 0 ? Model.PhotoModelList.Count / 3 + 1 : Model.PhotoModelList.Count / 3;
        var totalRows = Model.PhotoModelList.Count % 3 > 0 ? Model.PhotoModelList.Count / 3 + 1 : Model.PhotoModelList.Count / 3;

        for (var i = 0; i < totalRows; i++)
        {
            <div class="row">

                @{
                    if (Model.PhotoModelList.Count >= actualRow * 3 - 2)
                    {
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 loadedImageDiv">

                            <h6>@Model.PhotoModelList[actualRow * 3 - 3].Title</h6>
                            <p>Sobre: @Model.PhotoModelList[actualRow * 3 - 3].Description</p>

                            <img src="data:image/gif;base64,@Model.PhotoModelList[actualRow * 3 - 3].Base64File"
                                 alt="Imagen" class="imageObj" />
                            <br />
                            <button href="#" class="btn btn-primary modifyPhotoBtn" onClick="ShowModifyPhotoPopUp(@Model.PhotoModelList[actualRow * 3 - 3].Id);">Modificar</button>
                            <button href="#" class="btn btn-primary deletePhotoBtn" onClick="DeletePhoto(@Model.PhotoModelList[actualRow * 3 - 3].Id);">Borrar</button>
                            <hr/>
                        </div>
                    }
                }

                @{
                    if (Model.PhotoModelList.Count >= actualRow * 3 - 1)
                    {
                                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 loadedImageDiv">

                                    <h6>@Model.PhotoModelList[actualRow * 3 - 2].Title</h6>
                                    <p>Sobre: @Model.PhotoModelList[actualRow * 3 - 2].Description</p>

                                    <img src="data:image/gif;base64,@Model.PhotoModelList[actualRow * 3 - 2].Base64File"
                                         alt="Imagen" class="imageObj" />
                                    <br />
                                    <button href="#" class="btn btn-primary modifyPhotoBtn" onClick="ShowModifyPhotoPopUp(@Model.PhotoModelList[actualRow * 3 - 2].Id);">Modificar</button>
                                    <button href="#" class="btn btn-primary deletePhotoBtn" onClick="DeletePhoto(@Model.PhotoModelList[actualRow * 3 - 2].Id);">Borrar</button>
                                    <hr />
                                </div>
                    }
                }

                @{
                    if (Model.PhotoModelList.Count >= actualRow * 3)
                    {
                                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 loadedImageDiv">

                                    <h6>@Model.PhotoModelList[actualRow * 3 - 1].Title</h6>
                                    <p>Sobre: @Model.PhotoModelList[actualRow * 3 - 1].Description</p>

                                    <img src="data:image/gif;base64,@Model.PhotoModelList[actualRow * 3 - 1].Base64File"
                                         alt="Imagen" class="imageObj" />
                                    <br />
                                    <button href="#" class="btn btn-primary modifyPhotoBtn" onClick="ShowModifyPhotoPopUp(@Model.PhotoModelList[actualRow * 3 - 1].Id);">Modificar</button>
                                    <button href="#" class="btn btn-primary deletePhotoBtn" onClick="DeletePhoto(@Model.PhotoModelList[actualRow * 3 - 1].Id);">Borrar</button>
                                    <hr />
                                </div>
                    }
                }

            </div>

            rowsCount--;
            actualRow++;
        }
    }
    else
    {
        <h2>No hay fotos en la galería aún.</h2>
    }
}